output.logstash:
  hosts: ["{{ logstash_lb_host }}"]

{% if kibana_host is defined %}
setup.kibana:
  host: "{{ kibana_host }}"
  {% if kibana_username is defined %}
  username: "{{ kibana_username }}"
  password: "{{ kibana_password }}"
  {% endif %}
{% endif %}

{% if es_hosts is defined %}
output.elasticsearch:
  hosts:
  {% for host in es_hosts %}
    - host
  {% endfor %}
{% endif %}