output.logstash:
  hosts: ["{{ logstash_lb_host }}"]

{% if kibana_host is defined %}
setup.kibana:
  host: "{{ kibana_host }}"
  {% if kibana_username is defined %}
  username: "{{ kibana_username }}"
  password: "{{ kibana_password }}"
  {% endif %}
{% endif %}

{% if es_output %}
output.elasticsearch:
  hosts:
  {% for host in groups["elasticsearch"] %}
  {% if hostvars[host].master_eligible is defined and hostvars[host].master_eligible %}
    - {% if elastic_cert_chain is defined %}https://{% else %}http://{% endif %}{{ host }}.{{ domain }}:9200
  {% endif %}
  {% endfor %}
{% endif %}